<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Binar Cars</title>

    <!-- Bootstrap CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/sidebars.css" rel="stylesheet">
    <link href="/stylesheets/style-cars.css" rel="stylesheet">

    <!--  Bootstrap Javascripts -->
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/sidebars.js"></script>
    <script src="/javascripts/edit-car.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  </head>
  <body class="bg-light">

    <!--  sgv  -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Bootstrap</title>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
      </symbol>
      <symbol id="home" viewBox="0 0 16 16">
        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
      </symbol>
      <symbol id="truck" viewBox="0 0 16 16">
        <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
      </symbol>
      <symbol id="plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </symbol>
      <symbol id="clock" viewBox="0 0 16 16">
        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
      </symbol>
      <symbol id="trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </symbol>
      <symbol id="edit" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </symbol>
    </svg>
    <!--  end sgv  -->

    <main>
      <!-- Sidebar Icon  -->
      <div class="d-flex flex-column flex-shrink-0 nav-navbar" >
        <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip" data-bs-placement="right">
          <img src="/images/icon-logo.png" alt="" width="50">
          <span class="visually-hidden">Icon-only</span>
        </a>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center nav-icons">
          <li class="nav-item">
            <a href="#" class="nav-link py-3 nav-icon" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
              <svg class="bi" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home"/></svg>
              <h6 class="icon-txt">Dashboard</h6>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link active active2 py-3" title="Cars" data-bs-toggle="tooltip" data-bs-placement="right">
              <svg class="bi" width="24" height="24" role="img" aria-label="Cars"><use xlink:href="#truck"/></svg>
              <h6 class="icon-txt">Cars</h6>
            </a>
          </li>
        </ul>
      </div>
      <!-- end Sidebar Icon  -->

      <!-- Sidebar  -->
      <div class="d-flex flex-column flex-shrink-0 bg-white shadow-sm bg-body rounded sidebar2" id="sidebar" >
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <span class="fs-4 visually-hidden">Sidebar</span>
        </a>
        <ul class="nav nav-pills flex-column mb-auto mt-5 nav-side">
          <li class="mt-5 my-3">
            <a href="#" class="nav-link link-dark fw-bold">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              CARS
            </a>
          </li>
          <li class="my-4 py-2 active-side">
            <a href="#" class="nav-link link-dark fw-bold ">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
              List Cars
            </a>
          </li>
        </ul>
        <hr>
      </div>
      <!-- end Sidebar  -->

      <!-- Navbar  -->
      <nav class="navbar navbar-expand-lg navbar-white bg-white top-navbar shadow-sm p-3 mb-5 bg-body rounded">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <img src="/images/logo.png" alt="" width="130" height="50px" class="me-4">
            <button type="button" id="sidebarCollapse" class="btn btn-light ms-5">
              <i class="fa fa-bars"></i>
            </button>
            <div class="d-flex ms-auto">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              <button type="button" class="btn btn-outline-primary fw-bold">Search</button>
            </div>
            <div class="dropdown"> <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle me-2" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> 
              <img src="/images/user.png" alt="" width="40" height="40" class="rounded-circle me-2 ms-4"> 
              <strong> Unis Badri </strong> </a>
              <ul class="dropdown-menu dropdown-menu-white text-small shadow " aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="#">New project</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </div>
          </div>
        </div>
      </nav>
      <!-- end Navbar  -->

      <!-- Main  -->
      <div class="d-flex flex-column p-2 bd-highlight container-cars" >
        <!-- page header -->
        <div class="row">

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header ">
                    <p class="pageheader-text visually-hidden">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="#" class="breadcrumb-link fw-bold cars">Cars</a></li>
                                <li class="breadcrumb-item active" aria-current="page">List Cars</li> 
                                <li class="breadcrumb-item active" aria-current="page">Update Car Information</li> 
                            </ol>
                        </nav>
                    </div>
              </div>
          </div>

          <!-- add new car -->
          <div class="container">
            <div class="row rows">
              <div class="col-lg-9">
                <h5>Update Car Infromation</h5> 
              </div>
              
            </div>
          </div>
          <!-- end add new car -->
        </div>
        <!-- end page header -->

        <!-- Cars Form -->
        <div class="row ms-3 my-3 car-form" >
            <div class="row ">
                <div class="col-lg" >
                  <div class="card">
                    <div class="card-body">
                        <div class="row g-3 align-items-center mb-3">
                            <input type="hidden" id="car-id" value="<%= mobil.id %>">
                            <div class="col-2">
                              <label for="inputname" class="col-form-label">Nama</label>
                            </div>
                            <div class="col-auto">
                              <input type="text" value="<%= mobil.name %>" id="inputName" class="form-control" placeholder="Name" aria-describedby="passwordHelpInline">
                            </div>
                        </div>
                        <div class="row g-3 align-items-cente mb-3">
                            <div class="col-2">
                              <label for="inputprice" class="col-form-label">Sewa Per Hari</label>
                            </div>
                            <div class="col-auto">
                              <input type="text" value="<%= mobil.price %>" id="inputPrice" placeholder="Price" class="form-control" aria-describedby="passwordHelpInline">
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-2">
                              <label for="inputsize" class="col-form-label">Ukuran</label>
                            </div>
                            <div class="col-auto">
                              <select id="inputSize" value="<%= mobil.size %>" class="form-select form-size"  aria-label="Default select example" aria-describedby="passwordHelpInline">
                                <option value="1">Small</option>
                                <option value="2">Medium</option>
                                <option value="3">Large</option>
                              </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-2">
                              <label for="inputpicture" class="col-form-label">Foto</label>
                            </div>
                            <div class="col-auto">
                              <div class="custom-file-upload">
                                <!--<label for="file">File: </label>--> 
                                <input type="file" id="inputFile" placeholder="Image" aria-describedby="imgHelpInline" name="myfiles[]" multiple>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Cars Form  -->

          <div class="form-button mb-4">  
              <a href="#" onclick="submit()" class="btn btn-outline-primary btn-card me-2">
                  Save
              </a>
              <a href="/" class="btn btn-primary btn-card">
                  Cancel
              </a>
          </div>

      </div>
      <!-- end Main  -->  
    </main>
  </body>
</html>
