.top-navbar{
    position: fixed;
    width: 93%;
    margin-left: 5.7rem;
    z-index: 2;
}
.nav-side{
    margin-right: 20px !important;
}
.cars{
    color: black;
    text-decoration: none;
}
.card-txt{
    font-size: 12px;
}
.container-cars{
    margin-top: 90px;
    position: unset;
    margin-left: 310px;
}
.sidebar2{
    width: 220px; 
    height: 902px;
    margin-left: 5rem;
    position: fixed;
}
.car-card{
    z-index: 1;
    width: 290px;
    
}
.btn-card{
    width: 107px;
}
a{
    text-decoration: none;
    color: black;
}
.car-form{
    width: 970px;
}
.btn-up{
    background-color: transparent;
    border-style: none;
}
.inp{
    border: 1px solid rgb(180, 180, 180); 
}
input:hover, select:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px #0D28A6;
}
.form-size{
    width: 210px;
}
.form-button{
    margin-top: 70px;
    margin-left: 10px;
}
.rows{
    width: 900px;
}
.alerts{
    width: 300px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}